@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;0,900;1,500;1,700;1,900&display=swap');

.body{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(42, 47, 56);
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

h1{
  /* color: white; */
  color: white;
}

#card-dark{
  background-color: rgb(60, 67, 82);
  border-color: rgb(194, 197, 223);
}

.nav-link{
  color: white;
}

.nav-pills > .nav-item > .active {
  color: rgb(60, 67, 82) !important;
  background-color: white !important;   
}

.card{
  max-width: 600px;
  color: white;
}

#key{
  background-color: rgb(60, 67, 82) !important;
  color: white;
}

textarea{
  background-color: rgb(60, 67, 82) !important;
  color: white !important;
}

#plain-txt-btn:hover{
  color:white;
}

#text-cipher{
  background-color: rgb(60, 67, 82) !important;
  color: white;
}

table{
  width: 230px !important;
  height: 230px !important;
  padding: 0;
  color: white !important;
}
td{
  width: 20%;
  height: 20%;
  padding: 0;
}

.nav-item{
  margin: 5px;
}